
// GZDdoom common project variables
//
// This configuration file should be used as base for
// GZDoom_SDL and GZDoom_Cocoa targets only


GCC_PREPROCESSOR_DEFINITIONS = $(inherited) NO_GTK=1 NEED_STRUPR=1 stricmp=strcasecmp strnicmp=strncasecmp __forceinline=inline NO_CLOCK_GETTIME NOASM HAVE_FLUIDSYNTH

DOOM_HEADER_SEARCH_PATHS = src src/g_doom src/g_heretic src/g_hexen src/g_raven src/g_shared src/g_strife src/sound src/textures
PORT_HEADER_SEARCH_PATHS = src/Linux src/sdl
LIBS_HEADER_SEARCH_PATHS = game-music-emu/gme gdtoa lzma/C jpeg-6b
TRDP_HEADER_SEARCH_PATHS = thirdparty/FMOD/inc thirdparty/SDL/include thirdparty/glew/include thirdparty/fluidsynth/include

HEADER_SEARCH_PATHS = $(inherited) $(DOOM_HEADER_SEARCH_PATHS) $(PORT_HEADER_SEARCH_PATHS) $(LIBS_HEADER_SEARCH_PATHS) $(TRDP_HEADER_SEARCH_PATHS)

LIBRARY_SEARCH_PATHS = $(inherited) "$(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)" thirdparty/FMOD/lib thirdparty/fluidsynth/lib
